<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
</head>
<body>
    <h1>ADD ACTIVITY</h1>
    <form action="/admin/addActivity" method="post" enctype="multipart/form-data">
        <label for="">Activity</label>
        <input type="text" name="activity">

        <label for="">Description</label>
        <input type="text" name="activityDes" id="">

        <label for="">Image</label>
        <input type="file" name="image">
    </form>
</body>
</html>