<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add banner</title>
</head>
<body>
    <h1>Add Banner</h1>
    <form action="/admin/addEvent" method="post" enctype="multipart/form-data">
        <label for="">Event</label>
        <input type="text" name="event">

        <label for="">Description</label>
        <input type="text" name="eventDes">

        <label for="">Image</label>
        <input type="file" name="bannerImage">
    </form>
</body>
</html>