<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <a href="/admin/event"><button class="bg-black text-white">Events</button></a>
    <a href="/admin/activity"><button class="bg-red-500">Activities</button></a>
    <a href="/admin/banner"><button>Banner</button></a>
    <a href="/admin/notification"><button>Notification</button></a>
    <a href="/admin/addAdmin"><button>Add Admin</button></a>
</body>
</html>