<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="/admin/event"><button>Events</button></a>
    <a href="/admin/activity"><button>Activities</button></a>
    <a href="/admin/banner"><button>Banner</button></a>
    <a href="/admin/notification"><button>Notification</button></a>
</body>
</html>