<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <a href="/admin/addNotification"><button>Add Notification</button></a>
    <% notifications.forEach(notification => { %>
        <h4><%= notification.notification %></h4>

        <a href="/admin/updateNotification/<%= notification._id %>"><button>Edit</button></a>
        <form action="/admin/deleteNotification/<%= notification._id %>" method="post">
            <button type="submit">Delete</button>
        </form>
    <% }) %>
</body>
</html>