<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Notification</title>
</head>
<body>
    <h1>Update Notification</h1>
    <form action="/admin/updateNotification/<%= notification._id %>" method="post">
        <label for="">Notification</label>
        <textarea name="notification" type="text"><%= notification.notification %></textarea>

        <button type="submit">Submit</button>
    </form>
</body>
</html>