<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Event</title>
</head>
<body>
    <h1>Update Event</h1>
    <form action="/admin/updateEvent/<%= event._id %>" method="post" enctype="multipart/form-data">
        <label for="">Event</label>
        <!-- <input type="text" name="title"> -->
         <textarea name="title" ><%= event.title %></textarea>

        <label for="">Description</label>
        <!-- <input type="text" name="description"> -->
         <textarea name="description" ><%= event.description %></textarea>

        <label for="">Image</label>
        <input type="file" name="eventImage">

        <button type="submit">Submit</button>
    </form>
</body>
</html>